In [ ]:
class Employee:

  raise_amount = 1.04
  num_of_emps = 0

  def __init__(self, first, last, pay):
    self.first = first
    self.last = last
    self.pay = pay
    self.email = first + '.' + last + '@company.com'

    Employee.num_of_emps += 1

  def fullname(self):
    return '{} {}'.format(self.first, self.last)

  def apply_raise(self):
    self.pay = int(self.pay)*self.raise_amount

  @classmethod
  def set_raise_amt(cls, amount):
    cls.raise_amount = amount

  @classmethod
  def from_string(cls, emp_str):
    first, last, pay = emp_str.split('-')
    return cls(first, last, pay)

In [ ]:
emp_1 = Employee('Pritam', 'Sarkar', '49500')
emp_2 = Employee('Ankur', 'Vaibhav', '48500')

print(emp_1.fullname())
print(emp_2.fullname())
emp_2.apply_raise()
print(emp_2.pay)
print(Employee.num_of_emps)

Pritam Sarkar
Ankur Vaibhav
50440.0
2

In [ ]:
print(Employee.__dict__)

{'__module__': '__main__', 'raise_amount': 1.04, 'num_of_emps': 2, '__init__': <function Employee.__init__ at 0x7f9715f09680>, 'fullname': <function Employee.fullname at 0x7f9715f09cb0>, 'apply_raise': <function Employee.apply_raise at 0x7f9715f090e0>, 'set_raise_amt': <classmethod object at 0x7f9715f0da90>, 'from_string': <classmethod object at 0x7f9715f0da50>, '__dict__': <attribute '__dict__' of 'Employee' objects>, '__weakref__': <attribute '__weakref__' of 'Employee' objects>, '__doc__': None}

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.04
1.04

In [ ]:
emp_1.raise_amount = 1.06

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.04
1.06
1.04

In [ ]:
Employee.set_raise_amt(1.05)

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.05
1.06
1.05

In [ ]:
emp_1.set_raise_amt(1.07)

In [ ]:
print(Employee.raise_amount)
print(emp_1.raise_amount)
print(emp_2.raise_amount)

1.07
1.06
1.07

In [ ]:
emp_str_1 = 'Sanchit-Uke-60000'
first, last, pay = emp_str_1.split('-')
new_emp_1 = Employee(first, last, pay)

In [ ]:
print(new_emp_1.email)
print(new_emp_1.pay)

Sanchit.Uke@company.com
60000

In [ ]:
emp_str_2 = 'Ankit-Kolpe-40000'
new_emp_2 = Employee.from_string(emp_str_2)

In [ ]:
print(new_emp_2.email)
print(new_emp_2.pay)

Ankit.Kolpe@company.com
40000